{% set php_fpm = salt['grains.filter_by']({
    'Debian': {
            'session': {
                'cookie_secure': 'false',
                'cookie_httponly': 'true',
            },
            'memory_limit': '128M',
            'extensions':[],
            'zend_extensions':[],
            'pkg': 'dsd-php5',
            'pkg_skip_verify': False, 
            'manage_pools': True,
            'pools': {
                'www': {
                    'absent': True,
                },
                'default': {
                    'user': 'nginx',
                    'group': 'nginx',
                    'session': {
                        'save_path': '/var/lib/php/session',
                        'name': 'change_me',
                    },
                    'pm' : {
                        'type': 'dynamic',
                        'max_children': 4,
                        'start_servers': 2,
                        'min_spare_servers': 2,
                        'max_spare_servers': 2,
                        'max_requests': 10,
                    }
                },
            },
            'pecl': {
              'imagick': { 'version': False },
              'mongo': { 'version': False },
              'ssh2': { 'version': False },
              'zendopcache': { 'version': '7.0.3' },
            },
            'additional_config': ''
    },
}, merge=salt['pillar.get']('php-fpm',{})) %}

{# change default pkg to ubuntu one, not dsd #}
